.detail-content__inner {
    width: 800px;
    margin: 30px auto;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.detail-content__inner h3 {
    font-weight: bold;
    font-size: 24px;
}

.update-form {
    gap: 10px;
}

.input-unit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}


.form-item__date, .form-item__time {
    width: 100%;
    padding: 11px 10px;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    font-size: 14px;
}

.form-item__weight, .form-item__calories {
    width: 95%;
    padding: 11px 10px;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    font-size: 14px;
}

.form-item__content {
    width: 100%;
    height: 194px;
    text-decoration: none;
}

.form-btn {
    text-align: center;
}

.back-btn {
    width: 200px;
    height: 50px;
    background-color: #E0DFDE;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
}

.form-btn__submit {
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, #A3A6E1, #FFABD9);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    border: none;
}

.delete-form__btn-submit {
    border: none;
}