
.logs-heading {
    width: 1120px;
    height: 154px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-group {
    width: 230px;
    margin: 10px;
}

.border {
    width: 0;
    height: 70px;
    border: 1px solid #CDCDCD;
}

.content span{
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
}

.logs-inner {
    width: 1120px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.logs-inner__top {
    width: 1060px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.logs-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logs-search__from, .logs-search__to {
    width: 200px;
    padding: 11px 10px;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    size: 14px;
}

.search-btn {
    width: 100px;
    padding: 9.5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #919191;
    color: #fff;
    text-align: center;
}

.search_reset-btn {
    width: 100px;
    padding: 9.5px 10px;
    border: 1px solid #919191;
    border-radius: 5px;
    text-align: center;
    color: #919191;
    text-decoration: none;
}

.create-btn {
    width: 160px;
    height: 45px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    padding: 7.5px 10px;
    background: linear-gradient(90deg, #A3A6E1, #FFABD9);
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.logs-table {
    margin-top: 30px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-label__row {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid linear-gradient(#A3A6E1, #FFABD9);
}

.table-label__date, .logs-data__date {
    width: 300px;
    padding: 18px 40px;
}

.table-label__date {
    text-align: left;
}

.table-label__weight, .logs-data__weight {
    width: 200px;
    padding: 18px 40px;
    text-align: center;
}

.table-label__cal, .logs-data__cal {
    width: 260px;
    padding: 18px 40px;
    text-align: center;
}

.table-label__time, .logs-data__time {
    width: 200px;
    padding: 18px 40px;
    text-align: center;
}

.table-label, .logs-data {
    width: 100px;
    padding: 20px 15px;
}

.table-data__row {
    width: 100%;
    border-bottom: 1px solid #F7F7F7;
    margin-bottom: 10px;
}

.fa-pencil {
    font-size: 20px;
    color: linear-gradient(#A3A6E1, #FFABD9);;
    cursor: pointer;
}

.modal {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity .3s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.modal-header {
    padding: 0;
}

.modal-title {
    font-size: 23px;
}

.modal-form__group {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.input-unit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-form__label {
    font-weight: bold;
    gap: 10px;
    margin-top: px;
}

.modal-form__label-required {
    background-color: #F65A5A;
    padding: 5px;
    border-radius: 3px;
    color: #FFF;
    font-size: 12px;
}

.modal-form__item-date, .modal-form__item-time{
    width: 100%;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    padding: 11px 10px;
}

.modal-form__item-weight, .modal-form__item-cal {
    width: 95%;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    padding: 11px 10px;
}

.modal-form__btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.modal-create__btn-submit {
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, #A3A6E1, #FFABD9);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
}

.modal__close-btn {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    background-color: #E0DFDE;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}